<table class="form-list">
    <tr>
        <td class="scope-label">
            <button onclick="setLocation('<?php echo Mage::helper("maglev")->getAdminUrl('ban', 'banAll'); ?>')" type="button" class="scalable"><span><span><span><?php echo Mage::helper('maglev')->__('Purge/Rebuild Varnish Cache') ?></span></span></span></button>
		  </td>
        <td class="scope-label">
            <?php echo Mage::helper('maglev')->__('Tells Varnish to Flush and rebuild cache')?>
        </td>
    </tr>
</table>