
<div id="varnishadm-content">
	<h1><?php echo Mage::helper('maglev')->__('Varnish Admin Panel')?></h1>
	<div id="varnishadm-ajaxcontent">
	</div>
	
	<div class="entry-edit" style="float:left;">
		<form id="command_form">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('maglev')->__('Commands')?></h4>
				<div class="form-buttons"></div>
			</div>
			<div class="fieldset " id="base_fieldset">
				<div class="hor-scroll">
					<table class="form-list" cellspacing="0">
						<tbody>
							<tr>
								<button id="banlistupdatebtn"type="button"><?php echo Mage::helper('maglev')->__('BAN/PURGE List')?></button>
								<br />
								<button id="getLoadedVclbtn"type="button"><?php echo Mage::helper('maglev')->__('Loaded VCL List')?></button>
								<br />
								<button id="ajaxGetstatusbtn"type="button"><?php echo Mage::helper('maglev')->__('Status')?></button>
								<br />
								<button id="ajaxShutdownbtn"type="button"><?php echo Mage::helper('maglev')->__('Stop')?></button>							
								<br />
								<button id="ajaxStartupbtn"type="button"><?php echo Mage::helper('maglev')->__('Start')?></button>			
								<br />
								<button id="ajaxGetHelpbtn"type="button"><?php echo Mage::helper('maglev')->__('Help')?></button>
							</tr>							
						</tbody>																		
					</table>
            </div>
			</div>
		</form>
	</div>
	<div class="entry-edit" style="float:right;">
		<form id="interface_form">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('maglev')->__('Varnish Admin Interface')?></h4>
				<div class="form-buttons"></div>
			</div>
			<div class="fieldset " id="base_fieldset">
				<div class="hor-scroll">
					<table class="form-list" cellspacing="0">
						<tbody>
							<tr>
								<textarea id="ajax-cli" rows="30" cols="70" disabled><?php echo Mage::helper('maglev')->__('Connecting to VarnishAdm...')?></textarea>
							</tr>
						</tbody>
					</table>
            </div>
			</div>
		</form>
	</div>
</div>


<script type="text/javascript">
	var varnishadm = null;
	document.observe('dom:loaded', function() {
		varnishadm = new VarnishAdmClass($('varnishadm-ajaxcontent'), '<?php echo Mage::helper('maglev')->getAdminUrl('varnishadm', 'getWithAjax') ?>');
	});
</script>